*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:rgba(38, 54, 83, 0.925);
    text-align: center;
}
.burger div{
    width:25px;
    height: 3px;
    background-color:rgb(235, 235, 235);
    margin:5px;

}
.burger{
    display: none;
}
@media screen and (max-width:1024px){
    .pages{
        width:60%;
    }
}
@media (max-width:768px){
    .container h1 span {
    font-size: 40px;
    }
    .description{
        font-size: 15px;
    }
    body{
        overflow-x: hidden;
    }
    .container{
        position: absolute;
        z-index:0;
    }
    .blog_banner{
        position: absolute;
        z-index:0;
    }
    .pages{
        position: absolute;
        right: 0px;
        height: 92vh;
        top:8vh;
        background-color:#2f2fa2;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 0;
        width: 50%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }

    .burger{
        display: block;
        cursor: pointer;
    }

    #container{
        display: block;
        font-size: 15px;;
    }
    

}
@media screen and (max-width:415px){
    body{
        overflow-x: hidden;
    }
    .container{
        position: absolute;
        z-index:0;
    }
    .blog_banner{
        position: absolute;
        z-index:0;
    }
    .pages{
        display:none;
        position: absolute;
        right: 0px;
        height: 92vh;
        top:8vh;
        background-color:#2f2fa2;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 0;
        width: 50%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }

    .burger{
        display: block;
        cursor: pointer;
    }

    #container{
        display: block;
        font-size: 15px;;
    }
    body{
        font-size:13px;
    }
    

}
/*Not my code , from here*/
.pages-active{
    transform: translate(0%);
}
/*till here*/
nav{
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items:center;
    min-height: 55px;
    background-color:#2f2fa2;
    font-family: 'Poppins', sans-serif;
    z-index: 9;
}
.logo_text{
    color: rgb(235, 235, 235);
    text-transform:uppercase;
    letter-spacing: 3px;
    font-size:20px;
    
}
.pages{
    display: flex;
    justify-content: space-around;
    width:40%;
}
.pages a{
    color: rgb(235, 235, 235);
    text-decoration:none;
    letter-spacing:3px;
    font-weight: bold;
}
.pages a:hover{
    animation-name: increase_size_pages;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes increase_size_pages {
    0% {
        
        font-size: 15px;
        text-decoration: none;
    }
    100% {
        font-size: 18px;
        text-decoration: underline;
    }
  }
.pages li{
    list-style: none;
}
.container{
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
}
.container h1{
    color: white;
}
.inputs_and_buttons {
    margin-top: 10%;
}
.input_log{
    width:35%;
    height: 8%;
    border: 5px solid black;
    border-radius: 20px;
    padding: 5px;
}
#pass_input[type=password]{
    font-size: 15px;
}
#email_input[type=email]{
    font-size: 15px;
}
.status_text{
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.log_in_button{
    width:25%;
    height: 6%;
    border: 5px solid black;
    border-radius: 10px;
    padding: 0px;
    font-size: 23px;
    font-weight:700;
    text-align: center;
    cursor: pointer;

}
.log_in_button:hover{
    animation-name: inc_sz_login;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes inc_sz_login{
    0% {
        
        font-size: 23px;
        text-decoration: none;
        width:25%;
        height: 6%;
    }
    100% {
        font-size: 30px;
        text-decoration: underline;
        width:30%;
        height: 11%;
        box-shadow: 10px 10px 8px #000000;
    }
  }